#footer-content {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	padding-top: 5px;
}
#footer-links ul li {
	padding: 0 10px;
	border-left: solid 1px #666;
	float: left;
}
#footer-links ul li:first-child {
	border-left: 0 none;
	padding-left: 0;
}
