.activity-editor {
	position: fixed;
	height: 90%;
	padding: 5pt;
	box-sizing: content-box;
}

.input-title, .input-address, .input-content {
	display: block;
	position: relative;
	font-size: 15pt;
	margin-top: 5pt;
	margin-bottom: 2pt;
}

/* placeholder reference (note that this DOESN'T work with comma syntax!) : http://davidwalsh.name/html5-placeholder-css */
.input-title::-webkit-input-placeholder {
	font-style: italic;
	font-size: 16pt;
}
.input-title:-moz-placeholder {
	font-style: italic;
	font-size: 16pt;
}
.input-title::-moz-placeholder {
	font-style: italic;
	font-size: 16pt;
}
.input-title:-ms-input-placeholder {
	font-style: italic;
	font-size: 16pt;
}
.input-address::-webkit-input-placeholder {
	font-style: italic;
	font-size: 15pt;
}
.input-address:-moz-placeholder {
	font-style: italic;
	font-size: 15pt;
}
.input-address::-moz-placeholder {
	font-style: italic;
	font-size: 15pt;
}
.input-address:-ms-input-placeholder {
	font-style: italic;
	font-size: 15pt;
}
.input-content::-webkit-input-placeholder { 
	font-style: italic;
	font-size: 15pt;
}
.input-content:-moz-placeholder {
	font-style: italic;
	font-size: 15pt;
}
.input-content::-moz-placeholder {
	font-style: italic;
	font-size: 15pt;
}
.input-content:-ms-input-placeholder {
	font-style: italic;
	font-size: 15pt;
}

.input-title
{
	height: 25pt;
	width: 400pt;
	max-height: 50pt;
	max-width:	400pt;
	font-size: 16pt;
	border: 0;
	border-bottom: solid 1px cadetblue;
	outline: none;
	color: blue;
}

.input-address
{
	height: 25pt;
	width: 400pt;
	max-height: 50pt;
	max-width:	400pt;
	border: 0;
	border-bottom: solid 1px cadetblue;
	outline: none;
}

.input-content
{
	height: 200pt;
	width: 400pt;
	max-height: 200pt;
	max-width:	400pt;
	resize: none;
}

.btn-save, .btn-submit, .btn-cancel, .btn-delete {
	position: relative;
	top: 0;
	padding: 3pt;
	width: auto;
	height: 36pt;
	font-size: 15pt;
	border: 0;
}

.btn-save
{
	left: 0;
	background-color: indianred;
}

.btn-submit
{
	left: 100px;
	background-color: #0000ee;
}

.btn-cancel
{
	left: 200px;
	background-color: black;
	color: white;
}

.btn-delete
{
	left: 300px;
	background-color: #ff0000;
}

/* Activity Cells */
.cell-container
{
	display: block;
	width: 98%;
	height: 144px;
	padding: 3pt;
	margin-top: 0;
	margin-bottom: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: thin solid lightgray;
}

.btn-join
{
	display: inline;
	position: relative;
	vertical-align: middle;
	background-color:	#ccccff;
	font-size:	12pt;
	color:	blue;
}

.btn-detail
{
	background-color:	transparent;
	border: 0;
	font-size:	12pt;
	color:	IndianRed;
	text-decoration: underline;
}

.indicator-relation-container
{

	display: inline;
	position: relative;
	float: right;
	width: 20%;
	height: 95%;
	
}

.indicator-status
{
	display: inline;
	position: relative;
	float: left;
	margin-left: 2pt;
	font-size: 16pt;
	color: red;
}

.table-time, th, td {
}

.table-time {
	border: 0; 
	border-collapse: collapse;
	border-spacing: 5px 5px;
}

.table-time-row {

}

.table-time-row > th {
    text-align: center;
}

.table-time-row > td {
    text-align: center;
    border: 1px solid white;
}
