.cell-container {
	height: 200px;
	margin: 10px
}
.activity-cover {
	background-color: #666;
	width: 276px;
	height: 196px;
	padding: 2px;
}
.activity-cover img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}
.activity-info {
	margin-left: 10px;
}
.activity-title {
	font-size: 36px;
	color: #3090a6;
	font-weight: bold;
}
