#idBtnCreate
{
	display: inline;
	position: relative;
	float: left;
	width: 64pt;
	height: 35px;
	font-size: 15pt;
}

.classFieldActivityTitle
{
	display: block;
	position: relative;
	background-color: transparent;
	height: 25pt;
	width: 400pt;
	max-height: 50pt;
	max-width:	400pt;
	font-size: 15pt;
	margin-top: 5pt;
	margin-bottom: 2pt;
}

.classFieldActivityContent
{
	display: block;
	position: relative;
	background-color: transparent;
	height: 200pt;
	width: 400pt;
	max-height: 400pt;
	max-width:	400pt;
	font-size: 15pt;
	margin-top: 5pt;
	margin-bottom: 2pt;
}

.btn-edit
{
	position: relative;
	width:	auto;
	margin-left:	10pt;
   	font-size:	12pt;
	background-color: black;
	color:	white;
}

.btn-save
{
	display: inline;
	position: relative;
	padding-top: 3pt;
	width: auto;
	height: 36pt;
	font-size: 15pt;
	margin-top: 10pt;
	background-color: #CC00FF;
	color: #cccccc;
}

.btn-delete
{
	display: table-cell;
	position: relative;
	padding-top: 3pt;
	width: auto;
	height: 36pt;
	font-size: 16pt;
	color: #cccccc;
	margin-top: 10pt;	
	background-color: #ff0000;
}

.btn-submit
{
	display: table-cell;
	position: relative;
	padding-top: 3pt;
	width: auto;
	height: 36pt;
	font-size: 16pt;
	color: #cccccc;
	margin-top: 10pt;	
	background-color: #0000ee;
}

.btn-cancel
{
	display: table-cell;
	position: relative;
	padding-top: 3pt;
	width: auto;
	height: 36pt;
	font-size: 15pt;
	margin-top: 10pt;
	margin-left: 50pt;
}

.classFieldImageOfActivity{
	display: table-row;
}

/* Activity Cells */
.cell-container
{
	display: inline;
	float: left;
	width: 33%;
	height: 45%;
	padding: 3pt;
	margin: 5pt 5pt;
	border: 2pt solid #00ccff;
	border-radius: 8pt;
}

.cell-cover
{
        margin-top: 2%;
	height: 33%;
}

.cell-title
{
	position: relative;
	margin-bottom: 2pt;
	height: 25%;
	width: 100%;
	max-height: 25%;
	max-width:	100%;
	font-size: 13pt;
	overflow: hidden;
}

.cell-content
{
	display: block;
	position: relative;
	height: 75%;
	width: 100%;
	max-height: 75%;
	max-width:	100%;
	font-size: 12pt;
	font-family: Georgia;
	color: #0000aa;
	overflow: hidden;
}

.btn-join
{
	display: inline;
	position: relative;
	float: right;
	vertical-align: bottom;
	width:	33%;
	background-color:	#ccccff;
	font-size:	12pt;
	color:	blue;
}

.btn-detail{
	display: inline;
	position: relative;
	margin-left: 5pt;
	width:	33%;
	font-size:	12pt;
	background-color:	#ccccff;
	color:	blue;
}

.cell-status-indicator
{
	display: inline;
	position: relative;
	float: left;
	margin-left: 2pt;
	font-size: 16pt;
	color: red;
}

.cell-relation-indicator
{
	display: inline;
	position: relative;
	margin-right: 5pt;
	float: right;
	vertical-align: bottom;
	font-size:	13pt;
	color:	red;
}
