.classBtnAccept
{
	width: 64pt;
	height: 36pt;
	font-size: 16pt;
	color: #0000aa;
	background-color: #aaaaaa;
}

.classBtnReject
{
	width: 64pt;
	height: 36pt;
	font-size: 16pt;
	color: purple;
	background-color: #aaaaaa;
}

.classBtnDelete
{
	width: 64pt;
	height: 36pt;
	font-size: 16pt;
	color: #aa0000;
	background-color: #aaaaaa;
}

#idSectionActivityMonitor
{
	display: block;
	margin-top: 5pt;
	width: 80%;
	height: 70%;
	border: 1pt solid #ff0000;
	overflow: auto;
}

.classAcceptedIndicator
{
	vertical-align: text-bottom;
	font-size:	16pt;
	color:	blue;
}

#idSelectFilter
{
	border-color: #000000; /* border-color is the magic to make webkit working! */
	color: #0000FF;
	font-size: 16pt;
}
