#section-activities
{
	margin-top: 5pt;
	width: 80%;
	height: 70%;
	border: 1pt solid #ff0000;
	overflow: auto;
}

.classAcceptedIndicator
{
	vertical-align: text-bottom;
	font-size:	16pt;
	color:	blue;
}

#select-filter
{
	border-color: #000000; /* border-color is the magic to make webkit working! */
	color: #0000FF;
	font-size: 16pt;
}
