.assessment-container {
	padding-top: 10px;
}
.assessment-button {
	margin-top: 10px;
}
.assessment-button button {
	font-size: 16px;
	width: 100px;
	height: 30px;
	margin-right: 5px;
}
.assessment-container input[type=checkbox] {
	width: 50px;
}
.assessment-input-row {
	margin: 5px 0;
}

.assessments-viewer th td {
    border: 1px solid green;
}

.assessments-viewer {
    width: 100%;
}

.assessments-viewer-row {
    width: 100%;
}

.assessments-viewer-row > th {
    background-color: green;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.assessments-viewer-row > td {
    color: black;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.assessment-tag {
	color: white;
	background-color: orange;
	max-width: 250px; 
	width: 50px;
	height: 50px;
	max-width: 200px;
	max-height: 50px;
	font-size: 14px;
	padding: 1px;
	margin-left: 5px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 5px;
	cursor: pointer;
}

.assessment-tag:hover {
	background-color: purple;
}

.assessment-avatar {
	cursor: pointer;
	width: 36px;
	height: 36px;
}
