.assessments-viewer th td {
    border: 1px solid green;
}

.assessments-viewer {
    width: 100%;
}

.assessments-viewer-row {
    width: 100%;
}

.assessments-viewer-row > th {
    background-color: green;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.assessments-viewer-row > td {
    color: black;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.assessment-tag {
	color: white;
	background-color: orange;
	max-width: 
	width: 10px;
	height: 30px;
	max-width: 200px;
	max-height: 30px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
