* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clear {
	clear: both;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	width: 0;
	height: 0;
}
.left {
	float: left;
}
.right {
	float: right;
}
.hide {
	display: none !important;
}
.inline {
	display: inline;
}
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
}
.image-helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
html, body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}
body {
	background-color: #efda73;
	outline: none;
}
a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
a:hover, a:active {
	text-decoration: none;
	outline: none;
	color: #3090a6;
}
p {
	margin: 0;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
input, textarea {
	margin: 0;
	padding: 0;
	border: solid 1px #999;
	height: 30px;
	width: 100%;
	padding: 5px;
}
button {
	cursor: pointer;
	padding: 0;
}
button.indianred {
    margin: 10px;
    background-color: indianred;
    color: white;
    border: none;
}
button.indianred:hover, button.indianred.active {
	background-color: #ad4497;
}

button.purple {
	background-color: #81246e;
	color: #fff;
	border: none;
}
button.purple:hover, button.purple.active {
	color: #e2e185;
	background-color: #ad4497;	
}
button.gray {
	background-color: #eee;
	border: none;
	color: #000;
}
button.gray:hover, button.gray.active {
	background-color: #3090a6;
	color: #fff;
}
button.disabled-button, button.disabled-button:hover {
	background-color: #fff;
	color: #eee;
	border: solid 1px #eee;
	cursor: default;
}
#header {
	background-color: #3090a6;
}
#content {
	margin: 0 auto;
	max-width: 1024px;
	min-height: 500px;
	background-color: white;
	padding-bottom: 30px;
}
#footer{
}
