/* Header */
#wrap
{
	margin: 0 auto;
    max-width: 98%;
}

#header
{
	position: relative;
	background: #1d2124;
	height: 68px;
}

#idSectionTitle
{
	display: table-row;
 	position: relative;
 	text-align: center;
 	font-family: Georgia;
	font-size: 24pt;
	color: #FF8822;
}

#idSectionActivityDetail
{
    display: block;
	position: relative;
	background: #1d2124;
    width: 200pt;
	height: 68pt;
}

#idSectionActivityImages
{
}

#idSectionParticipants
{
    
}

