#footer-content {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	padding-top: 5px;
}
#footer-links ul {
	list-style-type: none;
	padding: 0;
}
#footer-links ul li {
	float: left;
	padding: 0 10px;
	border-left: solid 1px #666;
}
#footer-links ul li:first-child {
	border-left: 0 none;
	padding-left: 0;
}
