#topbar {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	min-height: 100px;
}
#topbar-title {
	width: 320px;
	background-color: #e21e61;
	color: #fff;
	font-size: 45px;
	font-weight: bold;
	color: #fff;
}
#topbar-title:hover {
	cursor: pointer;
	color: #e2e185;
	background-color: #f41d3e;
}
#login-section {
	width: 320px; 
}
#login-box {
	background-color: #3babc2;
}
.login-inputs {
}
.login-inputs input {
	width: 200px;
	height: 28px;
}
.login-btn {
	width: 100px;
	background-color: #81246e;
	color: #fff;
	float: left;
	border: none;
	height: 56px;
	font-size: 24px;
}
.login-btn:hover {
	color: #e2e185;
	background-color: #ad4497;
}
.login-forgot {
	background-color: #3ba8c2;
	color: #fff;
	border: none;
}
.login-forgot:hover {
	color: #e2e185;
}
