#topbar {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	height: 100px;
}
#topbar-title {
	width: 320px;
	height: 100%;
	background-color: #e21e61;
	color: #fff;
	font-size: 45px;
	font-weight: bold;
	color: #fff;
}
#topbar-title:hover {
	cursor: pointer;
	color: #e2e185;
	background-color: #f41d3e;
}
#topbar-title p {
	padding: 25px 15px;
	box-sizing: border-box;
}
#login-section {
	width: 320px; 
	height: 100%;
	background-color: #3babc2;
}
#login-box {
	width: 320px;
	height: 100px;
	padding: 10px;
	box-sizing: border-box;
}
.login-inputs {
	width: 200px;
	height: 60px;
}
.login-inputs input {
	width: 188px;
	height: 50%;
}
.login-btn {
	width: 100px;
	height: 60px;
	font-size: 24px;
}
.login-forgot {
	margin-top: 5px;
	background-color: #3ba8c2;
	color: #fff;
	border: none;
}
.login-forgot:hover {
	color: #e2e185;
}
