#headerTitle
{
	font-family: Georgia;
	font-size: 250%;
	color: #FF8822;
}

#userInformationSection
{
	font-family: Georgia;
	font-size: 120%;
	color: #4455AA;
}

#accountSection
{

}

#activityForm
{
	position: relative;
}

#imageSection
{
	position: relative;
}

#ajaxSaveActivity
{
	position: relative;
	background-color: transparent;
	border-style: none;
}

#ajaxCreateActivity
{
	position: relative;
	background-color: transparent;
	border-style: none;
}

#activityTitle
{
	position: relative;
	background-color: transparent;
	height: 100pt;
	width:	400pt;
}

#activityDescription
{
	position: relative;
	background-color: transparent;
	height: 100pt;
	width: 400pt;
	max-height: 200pt;
	max-width:	400pt;
	overflow: auto;
}

#ajaxSaveActivityImage
{
	height: 50pt;
	width: 120pt;
}

#ajaxCreateActivityImage
{
	height: 50pt;
	width: 120pt;
}

#progressSection
{

}

#responseSection
{
	width: 600px;
	height: 60px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	overflow: auto;
	color: #FF0000;
}

#activityTitle
{
	width: 600px;
	height: 50px;
	border: 2px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	overflow: auto;
	font-size: 120%;
	color: #0000FF;
}

#activityDescription
{
	width: 700px;
	height: 150px;
	border: 2px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	overflow: auto;
	font-size: 150%;
	color: #0000FF;
}