.classSectionUserAvatar{
	display: table-column-group;
	position: relative;
	float: left;
	width: 50pt;
	height: 50pt;
}

/* Activity Cells */
#idSectionDefaultActivities
{
    display: block;
    position: relative;
	width: 960pt;
	height: 300pt;
	border: 1pt solid #ff0000;
	overflow: auto;
	clear: both;
}
