/* Default Tags */
html, body
{
	margin: 0;
}
#wrap
{
	margin: 0 auto;
    max-width: 98%;
}

#header
{
	position: relative;
	background: #1d2124;
	height: 68px;
}

/* Title */
#idSectionTitle
{
	display: table-row;
 	position: relative;
 	text-align: center;
 	font-family: Georgia;
	font-size: 250%;
	color: #FF8822;
}

/* Sub Header */
#idSectionSubHeader{
	display: table-row;
 	position: relative;
	margin: 10pt;
	width: 100%;
	background-color: #ffffff;
}

/* Account */
#idSectionAccount
{

}

#idBtnLogin
{
	display: table-cell;
	position: relative;
	width: 64pt;
	height: 36pt;
	font-size: 15pt;
	margin: 10pt;
	background-color: #FFcc44;
}

#idBtnRegister
{
	display: table-cell;
	position: relative;
	width: 64pt;
	height: 36pt;
	font-size: 15pt;
	margin: 10pt;
	background-color: #66aaFF;
}

#idFieldEmail
{
	display: table-row;
	position: relative;
	width: 200pt;
	height: 30pt;
	left: 50pt;
	margin-left: 30pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
	font-size: 15pt;
}

#idFieldPassWord
{
	display: table-row;
	position: relative;
	width: 200pt;
	height: 30pt;
	margin: 10pt;
	font-size: 15pt;
}

/* User Information */

#idSectionUserInfo
{
	display: table-column;
	position: relative;
	float: right;
	border: 3pt solid #cc00ff;
}

.classSectionGreetingMessage{
	display: table-column-group;
	position: relative;
	float: left;
	font-family: Georgia;
	font-size: 15pt;
	background-color: #ffffff;
	color: #333333;
}

.classSectionUserAvatar{
	display: table-column-group;
	position: relative;
	float: left;
	width: 50pt;
	height: 50pt;
}

/* Logged In User Menu */
.classLoggedInUserMenu
{
	display: table-row;
	position: relative;
}

.classBtnLogout
{
	display: table-row;
	position: relative;
	width: 64pt;
	height: 36pt;
	font-size: 15pt;
}

.classBtnProfile
{
	display: table-row;
	position: relative;
	width: 64pt;
	height: 36pt;
	font-size: 15pt;
}