#pager-bar-notifications {
	padding: 10px;
}
#pager-bar-notifications button {
	min-width: 30px;
	height: 25px;
	margin-right: 5px;
}
.notifications-viewer {
	max-width: 1004px;
	margin: 10px;
}
.notifications-viewer-row {
	border-bottom: solid 1px #eee;
	cursor: pointer;
}
.notifications-viewer-row:last-child {
	border-bottom: none;
}
.notification-id {
	width: 50px;
}
.notification-content {
}
.notification-time {
	width: 125px;
	text-align: center;
}
.notification-envelope {
	width: 40px;
}
.notification-envelope div {
	width: 40px;
	height: 40px;
}
.notification-unread {
	background: url("../icons/notification-close.png") left top no-repeat;
	cursor: pointer;
}
.notification-unread:hover {
	background: url("../icons/notification-open.png") left top no-repeat;
}
.notification-read {
	background: url("../icons/notification-gray.png") left top no-repeat;
}
