.participants-form {
	margin-top: 5px;
}
.participant-avatar {
	cursor: pointer;
	width: 36px;
	height: 36px;
}
.participant-label {
	padding: 2px;
	font-size: 24px;
	margin-left: 10px;
	vertical-align: middle;
	height: 36px;
	width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.aquamarine {
	background-color: aquamarine;
}
.participant-label.pink {
	background-color: pink;
}

