.password #login-section {
	background-color: #3090a6;
}
#wrap, .notice-content {
	padding: 10px 20px;
}
.password p, .password ul , .password button {
	padding: 5px 0;
	font-size: 1.4em;
}
.notice {
	color:red;
	font-size: 2em;
}
.reset-password {
	padding: 5px 10px;
}
