#wrap, .notice-content {
	padding: 10px 20px;
}
#notice {
	color:red;
	font-size: 2em;
}
.password-content #email {
	border: 0;
	border-bottom: solid 1px #3090a6;
	background-color: white;
}
.password-content #email: -webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
.password-content #hint {
	color: red;
	font-size: 14px;
}
.password-content, .password-content p {
	padding: 5px;
	font-size: 1.4em;
}
.reset-password {
	padding: 5px 10px;
}
