#wrap, .notice-content {
	padding: 10px 20px;
}
#notice {
	color:red;
	font-size: 2em;
}
.password-content, .password-content p {
	padding: 5px;
	font-size: 1.4em;
}
.reset-password {
	padding: 5px 10px;
}
