#section-activities
{
	display: block;
	position: relative;
	width: 100%;
	height: 300pt;
	border: 1pt solid #ccccff;
	overflow: auto;
}

#section_user
{
	display: block;
	position: relative;
	width: 100%;
	height: 25pt;
	clear: both;
}

#activities-filter
{
    border-color: #000000; /* border-color is the magic to make webkit working! */
	color: #0000FF;
	font-size: 16pt;
}

#activities-sorter
{
    border-color: #000000; /* border-color is the magic to make webkit working! */
    color: #0000FF;
    font-size: 16pt;
}
