#pager-screen-activities
{
	display: block;
	position: relative;
	width: 720pt;
        height: 350pt;
	border: 1pt solid #ccccff;
	overflow: auto;
}

#pager-bar-activities
{
	display: block;
	position: relative;
}

#section-user
{
	display: block;
	position: relative;
	clear: both;
	width: 100%;
	height: 45pt;
}
