html, body
{
	margin: 0;
}

/* Header */
#wrap
{
	margin: 0 auto;
    max-width: 98%;
}

#header
{
	position: relative;
	background: #1d2124;
	height: 68px;
}

#idSectionTitle
{
	display: table-row;
 	position: relative;
 	text-align: center;
 	font-family: Georgia;
	font-size: 24pt;
	color: #FF8822;
}

.idSectionUserProfileEditor{
	display: table-row;
	position: relative;
	float: right;
	height: 256pt;
	width: 512pt;
	overflow: auto;
}

.classIFrameUserProfileEditor
{
	display: block;
	position: relative;
	height: 30%;
	width: 100%;
	max-height: 100%;
	max-width:	100%;
	overflow: auto;
}

/* Activity Cells */
#idSectionOwnedActivities
{
	display: table-cell;
	position: relative;
	width: 645pt;
	height: 300pt;
	border: 3pt solid #ccccff;
	overflow: auto;
}

#idBtnPreviousPage
{
	display: table-column;
	position: relative;
	width: 100pt;
	height: 75pt;
	font-size: 12pt;
}

#idBtnNextPage
{
	display: table-column;
	position: relative;
	width: 100pt;
	height: 75pt;
	font-size: 12pt;
}
