/* Header */
#wrap
{
	margin: 0 auto;
	width: 98%;
	max-width: 98%;
	height: auto;
}

#topbar
{
	position: relative;
	background: #00000000;
	width: 100%;
	height: 64pt;
	border-bottom: thin solid black;
}

#topbar-title
{
	float: left;
	display: table-row;
 	position: relative;
 	text-align: center;
 	font-family: Georgia;
	font-size: 24pt;
	cursor: pointer;
	color: CornflowerBlue;
	margin-left: 5pt;
	top: 20px;
	height: 95%;
}
