/* Header */
#wrap
{
	margin: 0 auto;
	width: 98%;
	max-width: 98%;
	height: auto;
}

#topbar
{
	position: relative;
	background: #1d2124;
	height: 64pt;
}

#topbar-title
{
	display: table-row;
 	position: relative;
 	text-align: center;
 	font-family: Georgia;
	font-size: 24pt;
	cursor: pointer;
	color: #ADD8E6;
}
