/* User Profile Editor */
.idSectionUserProfileEditor{
	display: table-row;
	position: relative;
	float: right;
	height: 256pt;
	width: 512pt;
	overflow: auto;
}

.classIFrameUserProfileEditor
{
	display: block;
	position: relative;
	height: 30%;
	width: 100%;
	max-height: 100%;
	max-width:	100%;
	overflow: auto;
}

/* Activity Cells */
#idSectionOwnedActivities
{
	display: table-cell;
	position: relative;
	width: 645pt;
	height: 300pt;
	border: 3pt solid #ccccff;
	overflow: auto;
}

#idBtnPreviousPage
{
	display: table-column;
	position: relative;
	width: 100pt;
	height: 75pt;
	font-size: 12pt;
}

#idBtnNextPage
{
	display: table-column;
	position: relative;
	width: 100pt;
	height: 75pt;
	font-size: 12pt;
}