#widget_paging
{
	display: block;
	width: 100%;
	height: 70pt;
	clear: both;
}

#btn_previous_page
{
	display: inline;
	position: relative;
	width: 100pt;
	height: 70pt;
	margin-right: 3pt;
	font-size: 12pt;
}

#btn_next_page
{
	display: inline;
	position: relative;
	width: 100pt;
	height: 70pt;
	margin-left: 3pt;
	font-size: 12pt;
}
