/*
 * The top level container of the whole switch.
 * */
.onoffswitch {
	position: relative; width: 90px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

/*
 * Checkbox is the driver of this switch.
 * */
.onoffswitch-checkbox {
	display: none;
}

/*
 * Label is the container of an inner background and a circular switch.
 * */
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
}

/*
 * The background of the inner part of the switch consists of 2 horizontal segments with equal width. 
 * The :before component is a blue rectangle and the :after component is black. 
 * */
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: attr(left-text);
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: attr(right-text);
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}

/*
 * The circular switch
 * */
.onoffswitch-switch {
	display: block; width: 18px; margin: 6px;
	background: #FFFFFF;
	border: 2px solid #999999;
	border-radius: 20px;
	position: absolute; top: 0; bottom: 0; right: 56px;
	-moz-transition: all 0.3s ease-in 0s;
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}

.date-picker-input {
}

.avatar-editor {
	position: fixed;
	box-sizing: content-box;
}
.avatar-editor-form {
	padding: 50px;
}
.avatar-editor-form .avatar{
	width: 220px;
	height: 220px;
	vertical-align: middle;
	text-align: center;
}
.avatar-editor-form .avatar img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
}
.avatar-editor-form .upload {
	margin-left: 10px;
}
.avatar-editor-form .upload input {
	border: none;
}
.avatar-editor-form .upload button {
	margin-top: 30px;
	font-size: 36px;
	width: 200px;
	height: 100px;
}
.word-counter-current {
	font-family: "Times New Roman", Georgia, Serif; 	
	font-size: 24px;
}
.word-counter-max {
	font-family: "Times New Roman", Georgia, Serif; 	
	font-size: 24px;
}
.word-counter-violation-hint {
	color: brown;
	margin-left: 30px;
	max-width: 720px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "Times New Roman", Georgia, Serif; 	
	font-size: 24px;
}
