@(activityTitle: String, activityContent: String, activityImageUrls: List[String], appliedParticipants: List[model.BasicUser], selectedParticipants: List[model.BasicUser])
<!-- scala style parameters list, NOTE THAT one MUST put this comment BELOW the parameters' declaration! -->

<!DOCTYPE html>

<html>
    <head>
        <title>Detail</title>
        
        <!-- style sheets -->
		<link rel="stylesheet" media="screen" href="assets/stylesheets/activity.css" type="text/css">
		<link rel="stylesheet" media="screen" href="assets/stylesheets/activity_detail_page.css" type="text/css">
		<!-- javascripts -->
		<script src="assets/javascripts/jquery-2.0.3.min.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery-cookie.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery-ui.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery.transform/jquery.transform2d.js" type="text/javascript"></script>
		
		<script src="assets/javascripts/global_variables.js" type="text/javascript"></script>
        <script src="assets/javascripts/global_functions.js" type="text/javascript"></script>
		<script src="assets/javascripts/animations.js" type="text/javascript"></script>
        
		<script src="assets/javascripts/activity_detail_page/activity_detail_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/activity_detail_page/activity_detail_generator.js" type="text/javascript"></script>

		<script src="assets/javascripts/activity_detail_page/functions.js" type="text/javascript"></script>
        
    </head>
    <body>
    
    </body>
</html>
