@(dev: Integer)

<!DOCTYPE html>

<html>
	<head>
		<title>Admin</title>
		@if(dev == 0) {

		<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		} else {
		<script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
		<link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
		<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
		}	

		<!-- style sheets -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")" type="text/css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/theme-main.min.css")" type="text/css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.min.css")" type="text/css">

		<!-- javascripts -->
		<script src="@routes.Assets.at("javascripts/jquery-cookie.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/moment.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>

		@if(dev == 0) {
		<script src="@routes.Assets.at("javascripts/admin.min.js")" type="text/javascript"></script>
		} else {
		<script src="@routes.Assets.at("javascripts/lang_zh_hk.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/global_variables.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/global_functions.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/apis.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/ws/websocket.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/models.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/widgets.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/participant.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/notification.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/activity/functions.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/activity/editor.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/activity/detail.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/profile.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/player/register.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/player/login.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/topbar.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/footer.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/admin/init.js")" type="text/javascript"></script>
		}
	</head>

	<body>
		<div id="header">
			<div id="topbar"></div>
		</div>
		<div class="clear"></div>
		<div id="content">
			<div id="pager-activities"></div>
		</div>
	</body>
</html>
