<html>
	<head>
		<!-- style sheets -->
		<link rel="stylesheet" media="screen" href="assets/stylesheets/activity.css" type="text/css">
		<link rel="stylesheet" media="screen" href="assets/stylesheets/admin.css" type="text/css">
		<!-- javascripts -->
		<script src="assets/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery-cookie.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery-ui.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery.transform/jquery.transform2d.js" type="text/javascript"></script>

        <script src="assets/javascripts/global_variables.js" type="text/javascript"></script>
        <script src="assets/javascripts/global_functions.js" type="text/javascript"></script>
        <script src="assets/javascripts/animations.js" type="text/javascript"></script>

		<script src="assets/javascripts/activity/editor_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/activity/editor_generator.js" type="text/javascript"></script>

		<script src="assets/javascripts/activity/cell_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/activity/cell_generator.js" type="text/javascript"></script>
		<script src="assets/javascripts/admin/local_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/admin/generator.js" type="text/javascript"></script>
		<script src="assets/javascripts/admin/functions.js" type="text/javascript"></script>
		<script src="assets/javascripts/admin/execute_on_start.js" type="text/javascript"></script>
	</head>

	<body>
		<div id="wrap">
			<p id="header">
				<span id="idSectionTitle" style="float: left">Welcome To Hong Kong Resort!</span>
				<span id="idSectionLogin" style="float: right; margin-right: 10pt"></span>
			</p>
			<div id="idSectionActivityEditor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Create an activity!" aria-hidden="true">
				<div class="modal-dialog modal-lg">
				    <div id="idModalActivityEditor" class="modal-content">
					    
				  	</div>
				</div>
			</div>
			<select id="idSelectFilter">
			    <option class="classFilterOption" value=1>Pending</option>
			    <option class="classFilterOption" value=2>Rejected</option>
					<option class="classFilterOption" value=3>Accepted</option>
			</select>
			<div id="idSectionActivityMonitor"></div>
			<p>
				<button id="idBtnPreviousPage">Previous Page</button>
				<button id="idBtnNextPage">Next Page</button>
			</p>
		</div>
	</body>
</html>
