@(activityId: Integer)

<html>
	<head>
		<p id="activityId" style="visibility:hidden" value=@activityId></p>
		<title>Detail</title>

		<!-- style sheets -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/topbar.css")" type="text/css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/widgets.css")" type="text/css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/activity.css")" type="text/css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/detail.css")" type="text/css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")" type="text/css">

		<!-- javascripts -->
		<script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery-cookie.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery-ui.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery.transform/jquery.transform2d.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/global_variables.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/global_functions.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/animations.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/activity/editor_variables.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/activity/editor_generator.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/activity/cell_variables.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/activity/cell_generator.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/user/register.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/user/login.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/topbar.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/comment/editor.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/activity/detail_variables.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/activity/detail_generator.js")" type="text/javascript"></script>

	</head>
	<body>
		<div id="wrap">
				<p id="topbar" />

				<!--
					Be sure to add role="dialog" to .modal(NOTE: class definitions are necessary!!!), aria-labelledby="myModalLabel" attribute to reference the modal title, and aria-hidden="true" to tell assistive technologies to skip the modal's DOM elements.
				-->
				<div id="idSectionActivityEditor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Create an activity!" aria-hidden="true">
					<div class="modal-dialog modal-lg">
					    <div id="idModalActivityEditor" class="modal-content">
						    
						</div>
					</div>
				</div>

				<div id="idSectionActivity">
				</div>
		</div>
	</body>
</html>
