@(activityId: Integer)

<html>
<head>
    <p id="activityId" style="visibility:hidden" value=@activityId></p>
    <title>Detail</title>

    <!-- style sheets -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/activity.css")" type="text/css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheet/comment.css")" type="text/css">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/detail.css")" type="text/css">
    <!-- javascripts -->
    <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-cookie.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.transform/jquery.transform2d.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/global_variables.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/global_functions.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/animations.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/comment/editor.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/activity/detail_variables.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/activity/detail_generator.js")" type="text/javascript"></script>

</head>
<body>

</body>
</html>
