<html>
	<head>
		<!-- style sheets -->
		<link rel="stylesheet" media="screen" href="assets/stylesheets/activity.css" type="text/css">
		<link rel="stylesheet" media="screen" href="assets/stylesheets/homepage.css" type="text/css">
		<!-- javascripts -->
		<script src="assets/javascripts/jquery-2.0.3.min.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery-cookie.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery-ui.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery.transform/jquery.transform2d.js" type="text/javascript"></script>
		
		<script src="assets/javascripts/global_variables.js" type="text/javascript"></script>
        <script src="assets/javascripts/global_functions.js" type="text/javascript"></script>
		<script src="assets/javascripts/animations.js" type="text/javascript"></script>

		<script src="assets/javascripts/activity/editor_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/activity/editor_generator.js" type="text/javascript"></script>

		<script src="assets/javascripts/activity/cell_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/activity/cell_generator.js" type="text/javascript"></script>

		<script src="assets/javascripts/homepage/local_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/homepage/callback_functions.js" type="text/javascript"></script>
		<script src="assets/javascripts/homepage/dom_generator.js" type="text/javascript"></script>
		<script src="assets/javascripts/homepage/functions.js" type="text/javascript"></script>
		<script src="assets/javascripts/homepage/event_handlers.js" type="text/javascript"></script>
		<script src="assets/javascripts/homepage/execute_on_start.js" type="text/javascript"></script>

	</head>
	<body>
		<div id="wrap">
			<div id="header">
				<div id="idSectionTitle">Welcome To Hong Kong Resort!</div> 
				
			</div>
			
			<div id="idSectionSubHeader">
				<button id="idBtnCreate">Create</button>
				<div id="idSectionUserInfo"></div>
			</div>

			<div id="idSectionAccount">
                <table border="0">
                <tr>
                 <td> Username: </td> <td><input id="idFieldUsername" class="classFieldAccount" type="text"> <span id="idSpanCheckUsername"><span></td>
                </tr>
				<tr>
                 <td> Email: </td> <td><input id="idFieldEmail" class="classFieldAccount" type="text"> <span id="idSpanCheckEmail"><span></td>
                </tr>
                <tr>
				 <td> Password: </td> <td><input id="idFieldPassword" class="classFieldAccount" type="password"></td>
                </tr>
                </table>
				<button id="idBtnLogin">login</button>
				<button id="idBtnRegister">register</button>
			</div>

			<div id="idSectionActivityEditor"></div>
				
			<div id="idSectionDefaultActivities"></div>
			<p>
				<button id="idBtnPreviousPage">Previous Page</button>
				<button id="idBtnNextPage">Next Page</button>
			</p>
		</div>

	</body>

</html>
