<!DOCTYPE html>
<html>
	<head> 
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
		<title>Reset Your Password</title>
	</head>
	<body>
		<div id="header">
			<div id="topbar"></div>
		</div>
		<div class="clear"></div>
		<div id="wrap">
			<div id="content" class="password-content">
			    <p id="reset-tips"></p>
			    <input id="email" type="text"></input>
			    <p id="hint"></p>
			    <p> <button id="submit" class="positive-button reset-password"></button>
			    <p id="response"></p>
				<div class="notice-content">
					<p id="notice"></p>
					<ul id="notice-list"></ul>
				</div>
			</div>
		</div>
		<div id="footer">
		</div>
	</body>
	<!-- style sheets -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/production/theme-main.min.css")" type="text/css">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/production/password_index.min.css")" type="text/css">

	<!-- javascripts -->
	<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/production/password_index.min.js")" type="text/javascript"></script>
</html>
