@(email: String)

<!DOCTYPE html>
<html>
    <head>
	 <meta charset="UTF-8"> 
        <title>Reset Your Password</title>

        <!-- style sheets -->

        <!-- javascripts -->
	<script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery-cookie.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery-ui.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery.transform/jquery.transform2d.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/global_variables.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/global_functions.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/animations.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/user/password_index.js")" type="text/javascript"></script>

        <style>
        ul li {
            font-size: 15pt
        }
        </style>
    </head>
    <body>
        <div id="wrap" style="padding-left: 10pt">
            <p style="font-size: 15pt"> Please input your REGISTERED email to receive our instructions and proceed</p>
            <p> <span><input id="email" type="text" style="font-size: 15pt"/></span> <span id="hint" style="margin-left: 5pt; color:red"></span</p>
            <p> <button id="submit" style="background-color: blue; color: white; font-size: 15pt">send instructions to this address</button>
	    <p id="response"></p>
        </div>
        <div>
            <p style="text-align: center; color: red; font-size: 18pt">NOTICE</p>
            <ul>
                <li> You WON'T receive any message if the email provided is not registered</li>
                <li> You WON'T receive any message if the email provided doesn't exist or is invalid</li>
                <li> The account associated with the email provided WON'T be suspended due to your not being able to provide ownership of the account at the moment, please contact us by <a href="mailto:@email?subject='account suspension'">@email</a> if you need help for account suspension </li>
            </ul>
        </div>
    </body>
</html>
