<html>
	<head>
		<title>Profile</title>

		<!-- style sheets -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/topbar.css")" type="text/css">
		<link rel-"stylesheet" media="screen" href="@routes.Assets.at("stylesheets/widgets.css")" type="text/css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/activity.css")" type="text/css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/profile.css")" type="text/css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")" type="text/css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.min.css")" type="text/css">"

		<!-- javascripts -->
		<script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery-cookie.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery-ui.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery.transform/jquery.transform2d.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/moment.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/global_variables.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/global_functions.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/animations.js")" type="text/javascript"></script>

		<!-- models -->
		<script src="@routes.Assets.at("javascripts/models.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/activity/editor.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/activity/cell.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/user/register.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/user/login.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/topbar.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/widgets.js")" type="text/javascript"></script>

		<script src="@routes.Assets.at("javascripts/profile/functions.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/profile/execute_on_start.js")" type="text/javascript"></script>

		<!-- meta -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
		<div id="wrap">
			<p id="topbar" />
			<form id="form_avatar"> 
					<p style="display: block; color: red">Avatar Upload</p>
	        		<input id="avatar" type="file" name="avatar" style="display: inline">
					<button id="btn_upload_avatar" style="display: inline">upload</button>
			</form>
			<div id="section_response" style="display: block"></div>	
			<hr>
			<div id="section_user"></div>
			<hr>
			<div style = "margin-bottom: 5pt">
				<span>
					<select	id="activities-filter">
						<option value=32>發起的活動</option>
						<option value=4>參加了的活動</option> <!-- -->
					</select>
				</span>
				<span>&gt;&gt;</span>
				<span>
					<select id="activities-sorter">
						<option value=-1>時間倒序</option>
						<option value=+1>時間順序</option>
					</select> 
				</span>
			</div>
			
			<div id="section-activities"></div>
			
			<p id="widget_paging">
				<button id="btn_previous_page">Previous Page</button>
				<button id="btn_next_page">Next Page</button>
			</p>
		</div>
	</body>
</html>
