<html>
	<head>
		<!-- style sheets -->
		<link rel="stylesheet" media="screen" href="assets/stylesheets/activity.css" type="text/css">
		<link rel="stylesheet" media="screen" href="assets/stylesheets/user_profile_editor.css" type="text/css">
		<!-- javascripts -->
		<script src="assets/javascripts/jquery-2.0.3.min.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery-cookie.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery-ui.js" type="text/javascript"></script>
		<script src="assets/javascripts/jquery.transform/jquery.transform2d.js" type="text/javascript"></script>
		
		<script src="assets/javascripts/global_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/animations.js" type="text/javascript"></script>

		<script src="assets/javascripts/activity/activity_editor_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/activity/activity_editor_generator.js" type="text/javascript"></script>

		<script src="assets/javascripts/activity/activity_cell_common_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/activity/activity_cell_common_generator.js" type="text/javascript"></script>

		<script src="assets/javascripts/user_profile_editor/local_variables.js" type="text/javascript"></script>
		<script src="assets/javascripts/user_profile_editor/functions.js" type="text/javascript"></script>
		<script src="assets/javascripts/user_profile_editor/event_handlers.js" type="text/javascript"></script>
		
		<script src="assets/javascripts/user_profile_editor/execute_on_start.js" type="text/javascript"></script>
	</head>
	<body>
			<title>User Profile Editor</title>
			
			<div id="idSectionUserProfileEditor">

				<div id="idSectionUploadAvatar">
					<p>Avatar Upload</p>
					<form id="idFormAvatar"> 
			        		<input id="idFieldAvatar" type="file" name="Avatar"><br>
					</form>
					<button id="idBtnUploadAvatar">upload</button>
				</div>
				
				<div id="idSectionResponse"></div>
			</div>

			<div id="idSectionActivityEditor"></div>
			<div id="idSectionOwnedActivities"></div>
			<p>
				<button id="idBtnPreviousPage">Previous Page</button>
				<button id="idBtnNextPage">Next Page</button>
			</p>
	</body>
</html>
